/*css selectors used by cinnamenu
┌──.menu-background .gridmenu .sidebar-top .sidebar-bottom .sidebar-left .sidebar-right──────
│┌──.menu-applications-outer-box .menu-applications-box──────────────────────────────────────────────────────────────────────────
││┌──.gridmenu-middle-pane───────────────────────────────────────────────────────────────────────────────────────────
│││┌──.gridmenu-sidebar-box*─────────────────┐┌──.menu-categories-scrollbox .vfade──┐┌──.menu-applications-scrollbox .vfade───────
││││┌──.gridmenu-sidebar-scrollbox .vfade──┐││┌──.menu-categories-box─────────────┐││┌──.menu-applications-inner-box──────────
│││││                                      ││││                                   ││││┌──.menu-applications-header-text───┐
│││││                                      ││││                                   ││││└───────────────────────────────────┘
││││└───────                               ││││                                   ││││┌──.menu-applications-grid-box────────┐
│││└───────                                ││││                                   ││││└─────────────────────────────────────┘
││└──────────────────
││┌──.menu-search-box─────────
│││┌──#menu-search-entry──────────

.gridmenu-sidebar-box may be swapped for .menu-favorites-box as user option
*/

.gridmenu .menu-categories-box {
    padding: 0px 6px;
}

.menu-category-button:hover {  /*Only used when "activate categories on click" option is set.*/
    background-color: rgba(128,128,128,0.2);
    border-radius: 4px;
    border-image: none;
}

.menu-category-button:highlighted, /*Used to highlight category containing newly installed apps.*/
.menu-category-button-selected:highlighted {
  font-weight: bold;
}

.gridmenu .menu-applications-inner-box {
  padding-left: 0px;
  padding-right: 0px;
}

.menu-applications-grid-box {
    left-padding: 8px;
}

.menu-applications-header-text { /*(shows folder name, "no recent files", error messages etc)*/
    font-weight: bold;
    font-size: 110%;
}

.menu-applications-subheading {
    font-weight: bold;
    font-size: 100%;
    padding-top: 0.3em;
    padding-left: 0.3em;
    /*text-align: center;*//*known bug: causes label to jump about when resizing menu*/
}

.menu-applications-subheading-clickable { /*emoji categories*/
    font-size: 100%;
    padding: 0.25em;
}

.menu-applications-subheading-clickable:hover {
  background-color: rgba(128,128,128,0.2);
  border-radius: 4px;
}

.menu-applications-grid-box .menu-application-button,
.menu-applications-grid-box .menu-application-button-selected {
  padding: 10px 2px;
}

.menu-application-button:highlighted, /*Used to highlight newly installed apps in list or grid view.*/
.menu-application-button-selected:highlighted {
    font-weight: bold;
}

.menu-applications-grid-box .menu-application-button-label,
.menu-applications-grid-box .menu-application-button-label:ltr,
.menu-applications-grid-box .menu-application-button-label:rtl {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.menu-application-button:highlighted, /*Used to highlight newly installed apps in list or grid view.*/
.menu-application-button-selected:highlighted {
    font-weight: bold;
}

.gridmenu .menu-categories-box {
  padding-left: 6px;
  padding-right: 6px;
}

.gridmenu .menu-search-box, .gridmenu .menu-search-box:ltr, .gridmenu .menu-search-box:rtl {
  min-width: 160px;
  padding: 0px 8px;
}

#menu-search-entry {}

.menu-search-entry-icon {}


.gridmenu-sidebar-box {
  padding: 0px 6px;
}

.gridmenu.sidebar-left .gridmenu-sidebar-box {
  padding-right: 24px;
}

.gridmenu.sidebar-right .gridmenu-sidebar-box {
  padding-left: 16px;
}

.gridmenu.sidebar-left .gridmenu-middle-pane,
.gridmenu.sidebar-right .gridmenu-middle-pane,
.gridmenu.sidebar-bottom .gridmenu-middle-pane {
  padding-bottom: 12px;
}

.gridmenu.sidebar-top .gridmenu-middle-pane {
  padding-top: 12px;
}
